<section class="bg-white">
  <div class="container px-12 mx-auto">
    <div class="grid gap-8 mt-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      <div class="w-full max-w-xs text-center">
        <img
          class="object-cover object-center w-full h-48 mx-auto rounded-lg"
          src="./assets/p2.png"
          alt="avatar"
        />
      </div>

      <div class="w-full max-w-xs text-center">
        <img
          class="object-cover object-center w-full h-48 mx-auto rounded-lg"
          src="./assets/p3.png"
          style="scale: 0.7"
          alt="avatar"
        />
      </div>

      <div class="w-full max-w-xs text-center">
        <img
          class="object-cover object-center w-full h-48 mx-auto rounded-lg"
          src="./assets/p5.png"
          style="scale: 0.8"
          alt="avatar"
        />
      </div>

      <div class="w-full max-w-xs text-center">
        <img
          class="object-cover object-center w-full h-48 mx-auto rounded-lg"
          src="./assets/p1.png"
          style="scale: 0.8"
          alt="avatar"
        />
      </div>
    </div>
  </div>
</section>

<!-- ----- next Section --------------------------------- -->
<section class="bg-gray-200">
  <div class="container px-6 py-10 mx-auto">
    <h1
      class="text-2xl font-semibold text-center text-gray-600 capitalize lg:text-3xl"
    >
      Representing the Injured Malpratice And Personal Injury <br />
      Injury Cases Throughout South Florida
    </h1>

    <div
      class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-3"
    >
      <div
        class="flex flex-col items-center p-4 border sm:p-6 rounded-xl dark:border-gray-300 bg-slate-100"
      >
        <img
          class="object-cover w-full rounded-xl aspect-square"
          src="https://images.unsplash.com/photo-1607368386669-d940ce438fba?q=80&w=1843&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />

        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize">
          Medical Malpratice
        </h1>
      </div>

      <div
        class="flex flex-col items-center p-4 border sm:p-6 rounded-xl dark:border-gray-300 bg-slate-100"
      >
        <img
          class="object-cover w-full rounded-xl aspect-square"
          src="https://images.unsplash.com/photo-1589279003513-467d320f47eb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />

        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize">
          Catastrophic Injuries
        </h1>
      </div>

      <div
        class="flex flex-col items-center p-4 border sm:p-6 rounded-xl dark:border-gray-300 bg-slate-100"
      >
        <img
          class="object-cover w-full rounded-xl aspect-square"
          src="https://images.unsplash.com/photo-1631815587646-b85a1bb027e1?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />

        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize">
          Personal Injury Claims
        </h1>
      </div>
    </div>
  </div>
</section>

<!---------------------------------- Contact Form ---------------->
<section>
  <div
    class="relative h-[650px] overflow-hidden bg-[url('https://images.unsplash.com/photo-1519608487953-e999c86e7455?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover bg-[50%] bg-no-repeat"
  >
    <section class="text-gray-200 body-font relative">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
          <h1
            class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-200"
          >
            TELL US YOUR STORY
          </h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
            Fields Marked with an * as required
          </p>
        </div>
        <div class="lg:w-1/2 md:w-2/3 mx-auto">
          <div class="flex flex-wrap -m-2">
            <div class="p-2 w-1/2">
              <div class="relative">
                <!-- <label for="name" class="leading-7 text-sm text-gray-600"
                  >Name</label
                > -->
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="w-full bg-gray-100 bg-opacity-80 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                />
              </div>
            </div>
            <div class="p-2 w-1/2">
              <div class="relative">
                <!-- <label for="email" class="leading-7 text-sm text-gray-600"
                  >Email</label
                > -->
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="w-full bg-gray-100 bg-opacity-80 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                />
              </div>
            </div>
            <div class="p-2 w-full">
              <div class="relative">
                <input
                  id="message"
                  name="message"
                  class="w-full bg-gray-100 bg-opacity-80 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-12 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                /><!-- <label for="message" class="leading-7 text-sm text-gray-600"
                  >Message</label
                > -->
                <textarea
                  id="message"
                  name="message"
                  class="w-full mt-4 bg-gray-100 bg-opacity-80 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                ></textarea>
              </div>
            </div>
            <div class="w-full">
              <div class="container py-14">
                <div
                  class="flex flex-col sm:flex-row sm:items-center items-start mx-auto"
                >
                  <h1
                    class="flex-grow text-lg font-medium title-font text-gray-100"
                  >
                    <input type="checkbox" /> I have Read The Disclaimer
                    <span class="text-red-500">*</span>
                  </h1>
                  <button
                    class="flex mx-auto text-white bg-gray-500 border-0 py-2 px-8 focus:outline-none hover:bg-gray-600 rounded text-md"
                  >
                    EMAIL THE FIRM
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div
            class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto"
          >
            <h1
              class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900"
            >
              Slow-carb next level shoindxgoitch ethical authentic, scenester
              sriracha forage.
            </h1>
            <button
              class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0"
            >
              Button
            </button>
          </div>
        </div>
      </section>
    </section>
  </div>
</section>
