<section>
  <div>
    <div class="container px-5 mx-auto flex items-center sm:flex-row flex-col">
      <img class="ms-5" src="./assets/p4.png" style="height: 140px" alt="" />

      <span
        class="inline-flex text-lg text-gray-600 sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start me-12"
      >
        For a Free Consultaion
        <br />
        Call:304-676-8800
      </span>
    </div>
  </div>
</section>
<header class="text-gray-200 bg-blue-950">
  <div
    class="container mx-auto flex flex-wrap p-3 flex-col md:flex-row items-center"
  >
    <nav
      class="md:ml-auto md:mr-auto flex flex-wrap items-end text-base justify-center gap-5"
    >
      <a class="mr-5 hover:text-gray-900">Home</a>
      <a class="mr-5 hover:text-gray-900">About</a>
      <a class="mr-5 hover:text-gray-900">Pratice Areas</a>
      <a class="mr-5 hover:text-gray-900">Teastimonials</a>
      <a class="mr-5 hover:text-gray-900">Frequently Asked Questions</a>
      <a class="mr-5 hover:text-gray-900">Blog</a>
      <a class="mr-5 hover:text-gray-900">Contact</a>
    </nav>
  </div>
</header>
